.mix-tag-input {
  overflow: auto;
  width: 18.75rem;
  padding: .375rem;
  border: .0625rem solid #ccc;
  border-radius: .25rem;
  font-size: medium;
  -ms-overflow-style: none;
  overflow-x: scroll;
  scrollbar-width: none;
  white-space: nowrap;
  min-height: 20px;
}

.mix-tag-input::-webkit-scrollbar {
  display: none;
}

.mix-tag-input:hover {
  border: .0625rem solid #aaa;
}

.mix-tag-input:focus {
  border: .0625rem solid black;
  outline: .125rem solid black;
}

.mix-tag-input:empty::before {
  position: absolute;
  color: #646464;
  content: attr(data-placeholder);
}

.mtag {
  display: inline-flex;
  padding: .1875rem;
  border: .0625rem solid #ccc;
  border-radius: .1875rem;
  background: #f3f3f3;
  margin-inline: .1875rem;
}

.mtag:has(.mtag-delete-btn) {
  padding-right: .1875rem;
}

.mtag-delete-btn {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
  padding: .1875rem;
  border: none;
  border-radius: 50%;
  margin: 0;
  margin-left: .25rem;
  background: #dbdbdb;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 0.3;
}

.mtag-delete-btn:hover {
  background: #ccc;
}
