.mix-tag-input {
  overflow: auto;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: medium;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mix-tag-input::-webkit-scrollbar {
  display: none;
}

.mix-tag-input:hover {
  border: 1px solid #aaa;
}

.mix-tag-input:focus {
  border: 1px solid black;
  outline: 2px solid black;
}

.mix-tag-input:empty::before {
  position: absolute;
  color: #646464;
  content: attr(data-placeholder);
}

.mtag {
  display: inline-flex;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #f3f3f3;
  margin-inline: 3px;
}

.mtag:has(.mtag-delete-btn) {
  padding-right: 3px;
}

.mtag-delete-btn {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border: none;
  border-radius: 50%;
  margin: 0;
  margin-left: 4px;
  background: #dbdbdb;
  cursor: pointer;
  font-size: 18px;
  line-height: 0.3;
}

.mtag-delete-btn:hover {
  background: #ccc;
}
